registry =
registry=https://learn-dop-822825819628.d.codeartifact.ap-southeast-1.amazonaws.com/npm/learn-dop/
//learn-dop-822825819628.d.codeartifact.ap-southeast-1.amazonaws.com/npm/learn-dop/:always-auth=true
//learn-dop-822825819628.d.codeartifact.ap-southeast-1.amazonaws.com/npm/learn-dop/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
