version: '3.7'
services:
  vote-svc:
    build:
      context: ./vote-svc
    image: vote-svc
    container_name: vote-svc
    ports:
    - 8080:80
    depends_on:
    - redis

  backend-svc:
    build:
      context: ./backend-svc
    image: backend-svc
    container_name: backend-svc
    # ports:
    # - 8080:80
    depends_on:
    - redis
    - vote-svc

  frontend-svc:
    build:
      context: ./frontend-svc
    image: frontend-svc
    container_name: frontend-svc
    ports:
    - 80:80
    depends_on:
    - backend-svc

  redis:
    image: redis:7.2.1
    container_name: redis
    ports:
    - 6379:6379

  collector:
    image: otel/opentelemetry-collector-contrib
    container_name: collector
    volumes:
      - ./otel-collector-config.yaml:/etc/otelcol-contrib/config.yaml
    # ports:
      # - 13133:13133 # healthcheck extension
      # - 4317:4317 # otlp gRPC receiver
      # - 4318:4318 # otlp http receiver
    depends_on:
    - jaeger

  jaeger:
    platform: linux/amd64
    image: jaegertracing/all-in-one:1.49
    container_name: jaeger
    restart: always
    environment:
    - COLLECTOR_ZIPKIN_HTTP_PORT=9411
    ports:
    # - 14269:14269 # healthcheck
    # - 4317:4317 # otlp gRPC receiver
    # - 4318:4318 # otlp http receiver
    - 16686:16686 # serve frontend